---
const { isLayout } = Astro.props
---

<a
	href="/"
	class:list={[
		'flex w-fit items-center gap-4 self-center',
		{ 'max-sm:hidden': isLayout, 'sm:hidden': !isLayout }
	]}
	transition:name="banner"
>
	<img id="henahaxIcon" src="../henahax.svg" />

	<div class="flex items-baseline">
		<span id="henahax" class="text-4xl font-semibold">henahax</span>
		<span id="tld" class="text-xl text-neutral-400">.de</span>
	</div>
</a>

<style>
	#henahaxIcon {
		width: 2.5rem;
		height: 2.5rem;
		opacity: 0.75;
		-webkit-animation: sk-rotateplane 8s infinite ease-in-out;
		animation:
			sk-rotateplane 8s infinite ease-in-out,
			drop 0.75s ease-out forwards;
	}

	@-webkit-keyframes sk-rotateplane {
		0% {
			-webkit-transform: perspective(36rem);
		}
		100% {
			-webkit-transform: perspective(36rem) rotateX(360deg);
		}
	}

	@keyframes sk-rotateplane {
		0% {
			transform: perspective(36rem) rotateX(0deg) rotateY(0deg);
			-webkit-transform: perspective(36rem) rotateX(0deg) rotateY(0deg);
		}
		100% {
			transform: perspective(36rem) rotateY(-360.1deg) rotateX(0deg);
			-webkit-transform: perspective(36rem) rotateY(-360.1deg) rotateY(0deg);
		}
	}

	#henahax {
		animation: drop 0.75s ease-out forwards;
	}

	#tld {
		animation: drop 1.25s ease-out forwards;
	}

	@keyframes drop {
		from {
			top: -40px;
			opacity: 0;
		}
		to {
			top: 0px;
			opacity: 1;
		}
	}
</style>
