---
interface Props {
  transitionName: string;
}

const { transitionName } = Astro.props;
---

<div class="cardContainer flex flex-col">
  <a class="link back p-2 rounded-xl hover:backdrop-blur-md" href="/">
    <i class="fa-solid fa-angle-left"></i>
    Zurück
  </a>
  <div
    class="card flex flex-col p-4 rounded-xl gap-4 shadow-2xl backdrop-blur-md border border-neutral-500"
    transition:name={transitionName}
  >
    <div class="w-full flex gap-2 items-center text-lg">
      <slot name="icon" />
      <slot name="title" />
    </div>
    <div class="contentContainer">
      <slot name="content" />
    </div>
  </div>
</div>

<style>
  .contentContainer {
    max-height: calc(100dvh - 10rem);
    overflow-y: auto;
  }

  .back{
    border: none;
  }


</style>
