---
interface Props {
  transitionName: string;
}

const { transitionName } = Astro.props;
---

<div class="card flex flex-col p-4 rounded-xl gap-4" transition:name={transitionName}>
    <div class="w-full flex gap-4 items-center text-2xl">
        <slot name="icon" />
        <slot name="title"/>
    </div>
    <slot name="content"/>
</div>