---
// src/components/DiscordViewerIsland.astro
import Server from "@/lib/Server.astro";
import DiscordViewerSvelte from "@/lib/DiscordViewer.svelte";

const guildId = "185552226998157313";
const invite = "https://discord.com/invite/KKPurzUu";
---

<Server connectLink={invite}>
  <i slot="icon" class="fa-brands fa-discord"></i>
  <div slot="title">Discord</div>

  <div slot="content" class="flex flex-col gap-4">
    <!-- Pick one hydration strategy -->
    <DiscordViewerSvelte guildId={guildId} invite={invite} client:visible />
    <!-- or: client:load / client:only="svelte" -->
  </div>
</Server>