---
export const prerender = false;
---

<div id="ts3viewer_1124630" class="border border-neutral-400"></div>

<script src="https://static.tsviewer.com/short_expire/js/ts3viewer_loader.js" defer></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var ts3v_url = "https://www.tsviewer.com/ts3viewer.php?ID=1124630&iconset=default_mono_2014";
    if (window.ts3v_display) {
      window.ts3v_display.init(ts3v_url, 1124630, 100);
    } else {
      console.error("TSViewer failed to load.");
    }
  });
</script>

<style>
#ts3viewer_1124630 {
}
</style>