body{
  height: 100%;
  margin: 0;
}

section{
  min-height: 100vh;
  height: fit-content;
}

section.first{
background-color: red;
}

section.second{
background-color: green;
}

#servers{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

#servers > * {
  margin: 1rem;
  align-self: center;
}