---
import Layout from "../layouts/Layout.astro";

import Tabs from '../components/Tabs.tsx'
---

<Layout title="henahax.de">
  <div class="mx-auto w-fit">
  <Tabs client:load></Tabs>
</div>
</Layout>
