---
const games = [
	{
		id: 'guildwars2',
		name: 'Guild Wars 2',
		description: 'bla bla bla',
		link: 'https://www.guildwars2.com/',
		icon: '',
		background: ''
	},
	{
		id: 'dota2',
		name: 'Dota 2',
		description: 'bla bla bla',
		link: 'https://www.dota2.com/',
		icon: '',
		background: ''
	},
	{
		id: 'deadlock',
		name: 'Deadlock',
		description: 'bla bla bla',
		link: 'https://store.steampowered.com/app/1422450/Deadlock/',
		icon: '',
		background: ''
	},
	{
		id: 'slaythespire',
		name: 'Slay the Spire',
		description: 'bla bla bla',
		link: 'https://store.steampowered.com/app/646570/Slay_the_Spire/',
		icon: '',
		background: ''
	},
	{
		id: 'pokerogue',
		name: 'PokéRogue',
		description: 'bla bla bla',
		link: 'https://pokerogue.net/',
		icon: '',
		background: ''
	},
	{
		id: 'pokerogue2',
		name: 'PokéRogue2',
		description: 'bla bla bla',
		link: 'https://pokerogue.net/',
		icon: '',
		background: ''
	}
]
const active = ['guildwars2', 'dota2', 'deadlock', 'slaythespire']
const history = ['pokerogue', 'pokerogue2']
---

<div class="card w-fit bg-green-900">
	<div role="tablist" class="tabs tabs-bordered tabs-lg">
		<input
			type="radio"
			name="my_tabs_1"
			role="tab"
			class="tab"
			aria-label="active games"
			checked="checked"
		/>
		<div role="tabpanel" class="tab-content p-10">
			<div class="carousel w-full">
				<div id="item1" class="carousel-item w-full">
					<img
						src="https://img.daisyui.com/images/stock/photo-1625726411847-8cbb60cc71e6.webp"
						class="w-full"
					/>
				</div>
				<div id="item2" class="carousel-item w-full">
					<img
						src="https://img.daisyui.com/images/stock/photo-1609621838510-5ad474b7d25d.webp"
						class="w-full"
					/>
				</div>
				<div id="item3" class="carousel-item w-full">
					<img
						src="https://img.daisyui.com/images/stock/photo-1414694762283-acccc27bca85.webp"
						class="w-full"
					/>
				</div>
				<div id="item4" class="carousel-item w-full">
					<img
						src="https://img.daisyui.com/images/stock/photo-1665553365602-b2fb8e5d1707.webp"
						class="w-full"
					/>
				</div>
			</div>
			<div class="flex w-full justify-center gap-2 py-2">
				<a href="#item1" class="btn btn-xs">1</a>
				<a href="#item2" class="btn btn-xs">2</a>
				<a href="#item3" class="btn btn-xs">3</a>
				<a href="#item4" class="btn btn-xs">4</a>
			</div>
		</div>

		<input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="recent games" />
		<div role="tabpanel" class="tab-content p-10">
			<ul>
				{
					history.map((id) => {
						const game = games.find((g) => g.id === id)
						return game ? <li>{game.name}</li> : null
					})
				}
			</ul>
		</div>
	</div>
</div>
