---
import Layout from "../layouts/Layout.astro";
import Card from "@/lib/Card.astro";
---

<Layout title="Hobbies - henahax.de">
  <Card transitionName="hobbies">
    <i slot="icon" class="fa-solid fa-icons"></i>
    <div slot="title">Hobbies</div>
    <div slot="content"></div>
  </Card>
</Layout>
