---
import Layout from "../layouts/Layout.astro";
---

<!-- https://www.youtube.com/watch?v=W5oawMJaXbU könnte cool sein -->
<Layout title="Henahax">
  <main class="">
    <section class="bg-yellow-500 w-full">todo</section>

    <section id="voice" class="bg-green-500">
      <h2 class="text-center text-2xl p-4">Henahax Voice Server</h2>
      <div class="voiceContainerContainer">
        <div class="voiceContainer">
          <h3 class="flex gap-2 items-center px-1">
            <i class="fa-brands fa-teamspeak"></i>TeamSpeak
          </h3>
          <div id="ts3viewer_1124630" class="voice p-4"></div>
          <button
            class="connectButton"
            onclick="location.href='ts3server://ts.henahax.de?port=9987'"
            >Verbinden</button
          >
        </div>

        <div class="voiceContainer">
          <h3 class="flex gap-2 items-center px-1">
            <i class="fa-brands fa-discord"></i>Discord
          </h3>
          <iframe
            id="discordWidget"
            class="voice"
            src="https://discord.com/widget?id=185552226998157313&theme=dark"
            allowtransparency="true"
            sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
          ></iframe>
          <button
            class="connectButton"
            onclick="location.href='https://discord.com/invite/26Kc9mJYKT'"
            >Verbinden</button
          >
        </div>
      </div>
    </section>

    <section class="bg-red-500 w-full">
      <h2 class="text-center text-2xl p-4">Projekte</h2>

      <div class="projects">
        <h3>Webtools</h3>
        <div class="projectContainer">
          <div class="project">
            <h3 class="flex gap-2 items-center">
              Guild Wars 2 Reset Checklist
            </h3>
            <div class="flex flex-row items-center gap-8 flex-nowrap h-full">
              <i class="fa-solid fa-calendar-check text-6xl p-2"></i>
              <ul class="py-2 list-disc">
                <li>Checkliste für tägliche und monatliche Aufgaben</li>
                <li>Auswahl angezeigte Aufgaben</li>
                <li>Abhaken von abgeschlossenen Aufgaben</li>
                <li>Anzeige relevanter Timer</li>
              </ul>
            </div>
          </div>
          <div class="project">
            <h3 class="flex gap-2 items-center">
              Guild Wars 2 MagicFind Checklist
            </h3>
            <div class="flex flex-row items-center gap-10 flex-nowrap h-full">
              <i class="fa-solid fa-clover text-6xl"></i>
              <ul class="py-2 list-disc h-full">
                <li>Checkliste für MagicFind Quellen</li>
                <li>Berechnen der Summe und Vergleich mit Obergrenze</li>
                <li>Hilft Verwendung wertvoller Gegenstände einzusparen</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  section {
    @apply min-h-dvh p-8 pt-24;
    scroll-snap-align: start end;
  }

  section:last-child {
    @apply py-24;
  }

  .voiceContainerContainer {
    @apply flex flex-wrap flex-row m-auto justify-center gap-4;
  }
  .voiceContainer {
    @apply bg-neutral-700 p-4 max-w-96 rounded-3xl flex flex-col gap-2 drop-shadow-lg shadow-lg w-full;
  }

  .voiceContainer:hover {
    @apply drop-shadow-2xl shadow-2xl;
  }

  .voice {
    @apply w-full rounded-2xl h-full;
    min-height: 26rem;
  }

  .connectButton {
    @apply px-4 py-2 rounded-full bg-neutral-600 w-fit self-center;
  }

  .connectButton:hover {
    @apply scale-110 transition-all ease-in-out;
  }

  #ts3viewer_1124630 {
    @apply bg-white;
  }

  #discordWidget {
  }

  h3 {
    @apply text-lg;
  }

  .projects {
    @apply bg-gray-500 p-4 mx-auto rounded-3xl;
  }
  .projectContainer {
    @apply flex flex-row flex-wrap gap-4;
  }

  .project {
    @apply bg-green-500 rounded-xl p-4;
  }
</style>

<script
  is:inline
  src="https://static.tsviewer.com/short_expire/js/ts3viewer_loader.js"
></script>
<script>
  var ts3v_url_1 =
    "https://www.tsviewer.com/ts3viewer.php?ID=1124630&text=757575&text_size=12&text_family=1&text_s_color=000000&text_s_weight=normal&text_s_style=normal&text_s_variant=normal&text_s_decoration=none&text_i_color=&text_i_weight=normal&text_i_style=normal&text_i_variant=normal&text_i_decoration=none&text_c_color=&text_c_weight=normal&text_c_style=normal&text_c_variant=normal&text_c_decoration=none&text_u_color=000000&text_u_weight=normal&text_u_style=normal&text_u_variant=normal&text_u_decoration=none&text_s_color_h=&text_s_weight_h=bold&text_s_style_h=normal&text_s_variant_h=normal&text_s_decoration_h=none&text_i_color_h=000000&text_i_weight_h=bold&text_i_style_h=normal&text_i_variant_h=normal&text_i_decoration_h=none&text_c_color_h=&text_c_weight_h=normal&text_c_style_h=normal&text_c_variant_h=normal&text_c_decoration_h=none&text_u_color_h=&text_u_weight_h=bold&text_u_style_h=normal&text_u_variant_h=normal&text_u_decoration_h=none&iconset=default_mono_2014";
  ts3v_display.init(ts3v_url_1, 1124630, 100);
</script>
