---
import Layout from "../layouts/Layout.astro";
---

<Layout title="henahax.de"> 
  <div>Bild</div>
  <div>Name</div>
  <div>Icon Links</div>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div class="sm:col-span-2">Desc</div>
    <div>
      Work
      <div class="grid grid-cols-2">
        <div>role:</div>
        <div>dev</div>
        <div>location:</div>
        <div>Munich</div>
      </div>
    </div>
    <div>hobbies</div>
    <div>dev</div>
    <div>gaming</div>
  </div>
</Layout>

<style>
  .grid > div{
    border: 1px solid black;
  }
</style>