---
import Layout from "../layouts/Layout.astro";
import Container from "@/components/Container.astro";
---

<Layout title="henahax.de">
  <div class="@container grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div class="sm:col-span-2">Bild</div>
    <div class="sm:col-span-2">Name</div>
    <div class="sm:col-span-2">Icon Links</div>
    <Container class="sm:col-span-2">Desc</Container>
    <Container>work</Container>
    <Container>hobbies</Container>
    <Container>dev</Container>
    <Container title="gaming">
      <h4>aktiv</h4>

      <ul>
        <li>game 1</li>
        <li>game 2</li>
      </ul>

      <h4>unregelmäßig</h4>
      <ul>
        <li>game 1</li>
        <li>game 2</li>
      </ul>
    </Container>
  </div>
</Layout>
