---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Henahax">
  <main class="">
    <section class="bg-yellow-500">todo</section>

    <section class="bg-red-500">
      <h2 class="text-xl">Projekte</h2>

      <div></div>
    </section>
  </main>
</Layout>

<style>
  section {
    min-height: 100dvh;
    padding: 6rem 2rem;
  }
</style>
