---
import Layout from "../layouts/Layout.astro";
import Work from "@/components/work.md";
import Hobbies from "@/components/hobbies.md";
import Gaming from "@/components/gaming.md";

---

<Layout title="henahax.de"> 
  <div>Bild</div>
  <div>Name</div>
  <div>Icon Links</div>
  <div class="@container grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div class="sm:col-span-2">Desc</div>
    <div>
      <Work>
    </div>
    <div class="backdrop-blur-lg">
      <Hobbies/>
    </div>
    <div class="backdrop-blur-lg">dev</div>
    <div>
      <Gaming>
    </div>
  </div>
</Layout>

<style>
  .grid > div{
    border: 1px solid black;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid white;
  }
</style>