---
import Layout from "../layouts/Layout.astro";

const links = [
  {
    name: "GitHub",
    link: "https://github.henahax.de",
    icon: "fa-brands fa-github",
  },
  {
    name: "Steam",
    link: "https://steam.henahax.de",
    icon: "fa-brands fa-steam",
  },
  {
    name: "LinkedIn",
    link: "https://www.linkedin.com/in/tobias-halupczok/",
    icon: "fa-brands fa-linkedin",
  },
];

const tiles = [
  {
    name: "work",
    desc: "Arbeit",
    link: "/work",
    icon: "fa-solid fa-briefcase",
  },
  {
    name: "dev",
    desc: "Dev",
    link: "/dev",
    icon: "fa-solid fa-code",
  },
  {
    name: "server",
    desc: "Server",
    link: "/server",
    icon: "fa-solid fa-server",
  },
  {
    name: "hobbies",
    desc: "Hobbies",
    link: "/hobbies",
    icon: "fa-solid fa-icons",
  },
  {
    name: "gaming",
    desc: "Gaming",
    link: "/gaming",
    icon: "fa-solid fa-gamepad",
  },
  {
    name: "links",
    desc: "Links/Kontakt",
    link: "/links",
    icon: "fa-solid fa-link",
  },
];
---

<Layout title="henahax.de">
  <div class="grid grid-cols-2 gap-4 w-full max-w-xl justify-self-center">
    <div class="col-span-2">todo: links</div>


    {tiles.map((tile) => (
      <a class="card" href={tile.link} transition:name={tile.name}>
        <i class={tile.icon} transition:name={"icon" + tile.name}></i>
        <div transition:name={"title" + tile.name}>{tile.desc}</div>
      </a>
    ))}

  </div>
</Layout>

<style>
  a.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.125rem;
    border-radius: 1rem;
    padding: 1rem 0;
  }

  a.card i {
    font-size: 1.5rem;
  }
</style>
