---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";

import links from "../../public/links.json";
---

<Layout title="@henahax">
  <div>test</div>
  <ul>
    {links.map((link) => <Link name={link.name} link={link.link} />)}
  </ul>
</Layout>
