---
import Layout from "../layouts/Layout.astro";
import Card from "@/lib/Card.astro";

const links = [
  {
    name: "Webseite",
    link: "https://henahax.de",
    icons: "fa-solid fa-globe",
    color: "#262626",
    background: "#fff",
  },
  {
    name: "E-Mail",
    link: "mailto:mail@henahax.de",
    icons: "fa-solid fa-envelope",
    background: "#0085ff",
  },
  {
    name: "Twitter",
    link: "https://twitter.henahax.de",
    icons: "fa-brands fa-x-twitter",
    background: "#000",
  },
  {
    name: "Instagram",
    link: "https://instagram.henahax.de",
    icons: "fa-brands fa-instagram",
    backgroundImage: "linear-gradient(-135deg, #1400c8, #b900b4, #f50000)",
  },
  {
    name: "Steam",
    link: "https://steam.henahax.de",
    icons: "fa-brands fa-steam-symbol",
    background: "#171a21",
  },
  {
    name: "Discord",
    link: "https://discordapp.com/users/128418924084723712",
    icons: "fa-brands fa-discord",
    background: "#5865f2",
  },
  {
    name: "GitHub",
    link: "https://github.henahax.de",
    icons: "fa-brands fa-github",
    background: "#000",
  },
  {
    name: "OnlyFans",
    link: "/onlyfans",
    icons: "fa-solid fa-lock",
    background: "#00AFF0",
  },
];
---

<Layout title="Links - henahax.de">
  <Card transitionName="links">
    <i slot="icon" class="fa-solid fa-link"></i>
    <div slot="title">Links</div>
    <div slot="content" class="grid grid-cols-[1fr_auto_auto_1fr] gap-2 sm:gap-4 justify-center">
      {
        links.map((link) => (
          <a
            href={link.link}
            class="link grid grid-cols-subgrid col-span-full items-center rounded-xl p-4"
          >
            <span></span>
            <i class={link.icons} />
            <div>{link.name}</div>
            <span></span>
          </a>
        ))
      }
    </div>
  </Card>
</Layout>
