---
import Layout from "../layouts/Layout.astro";
---

<Layout title="@henahax OnlyFans">
  <div class="mx-auto text-center m-16 flex flex-col items-center">
    <div class="text-lg font-bold p-4">only fans</div>
    <div>nothing else</div>
    <div>enjoy the cooling breeze</div>
    <div class="text-9xl grid gap-2 py-8 w-fit grid-cols-2">
      <i class="fa-sharp fa-solid fa-fan animate-spin"></i>
      <i class="fa-sharp fa-solid fa-fan animate-spin"></i>
      <i class="fa-sharp fa-solid fa-fan animate-spin"></i>
      <i class="fa-sharp fa-solid fa-fan animate-spin"></i>
      <i class="fa-sharp fa-solid fa-fan animate-spin"></i>
      <i class="fa-sharp fa-solid fa-fan animate-spin"></i>
    </div>
  </div>
</Layout>
