---
import Layout from '../layouts/Layout.astro'
import Card from '@/lib/Card.astro'
---

<Layout title="Arbeit - henahax.de">
	<Card transitionName="professional">
		<i slot="icon" class="fa-solid fa-briefcase"></i>
		<span slot="title">Professionell</span>
		<a
			slot="link"
			target="_blank"
			rel="noopener noreferrer"
			href="https://de.linkedin.com/in/tobias-halupczok"
		>
			<i class="fa-brands fa-linkedin"></i>
		</a>

		<div
			slot="content"
			class="grid grid-cols-[auto_1fr] items-center gap-2 sm:grid-cols-[auto_1fr_auto_1fr]"
		>
			<i class="fa-solid fa-user"></i>Full Stack Software Engineer
			<i class="fa-solid fa-building-columns"></i>B.Sc. Informatik
			<i class="fa-solid fa-location-dot"></i>München
			<i class="fa-brands fa-product-hunt"></i>Cloud ERP Software
      <i class="fa-regular fa-calendar"></i>2019-heute

			<div class="col-span-full flex flex-wrap gap-1 py-2">
				<div class="tag">C#</div>
				<div class="tag">.NET</div>
				<div class="tag">SQL</div>
				<div class="tag">JavaScript</div>
				<div class="tag">HTML</div>
				<div class="tag">CSS</div>
			</div>
		</div>
	</Card>
</Layout>
