---
import Layout from "../layouts/Layout.astro";
import { Link } from "@/components/Link.tsx";

// https://stackoverflow.com/questions/44837450/recommended-method-to-prevent-any-content-inside-iframe-from-setting-cookies

const discordResponse = await fetch(
  "https://discord.com/api/guilds/185552226998157313/widget.json"
);
const discordData = await discordResponse.json();
---

<script
  slot="head"
  src="https://static.tsviewer.com/short_expire/js/ts3viewer_loader.js"
></script>
<script>
  var ts3v_url_1 =
    "https://www.tsviewer.com/ts3viewer.php?ID=1124630&text=757575&text_size=14&text_family=1&text_s_color=999999&text_s_weight=normal&text_s_style=normal&text_s_variant=normal&text_s_decoration=none&text_i_color=&text_i_weight=normal&text_i_style=normal&text_i_variant=normal&text_i_decoration=none&text_c_color=&text_c_weight=normal&text_c_style=normal&text_c_variant=normal&text_c_decoration=none&text_u_color=000000&text_u_weight=normal&text_u_style=normal&text_u_variant=normal&text_u_decoration=none&text_s_color_h=&text_s_weight_h=bold&text_s_style_h=normal&text_s_variant_h=normal&text_s_decoration_h=none&text_i_color_h=000000&text_i_weight_h=bold&text_i_style_h=normal&text_i_variant_h=normal&text_i_decoration_h=none&text_c_color_h=&text_c_weight_h=normal&text_c_style_h=normal&text_c_variant_h=normal&text_c_decoration_h=none&text_u_color_h=&text_u_weight_h=bold&text_u_style_h=normal&text_u_variant_h=normal&text_u_decoration_h=none&iconset=default_mono_2014";
  ts3v_display.init(ts3v_url_1, 1124630, 100);
</script>

<Layout title="henahax.de">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>ts3</div>
    <div id="ts3viewer_1124630"></div>
    <div class="discord flex flex-col rounded">
      <div
        class="discordHeader px-4 py-5 rounded-t-lg flex justify-between items-center"
      >
        <h2 class="inline-flex items-center gap-2 text-2xl font-black">
          <i class="fa-brands fa-discord"></i>Discord
        </h2>
        <div class="text-sm">
          {discordData.members.length} Mitglied{
            discordData.members.length === 1 ? "" : "er"
          } online
        </div>
      </div>
      <div class="p-4 flex flex-col h-full">
        <div class="grow flex flex-col gap-4">
            <div class="flex flex-col"><div class="text-xs uppercase text-neutral-400">Server</div>
          <div class="text-2xl">{discordData.name}</div>
        </div>
          <div class="flex flex-col gap-2 text-neutral-400">
            <div class="text-xs uppercase">Mitgleider online</div>
            <ul class="flex flex-col gap-2">
              {
                discordData.members.map((member: any) => (
                  <li class="flex gap-2 items-center">
                    <img class="size-6 rounded-full" src={member.avatar_url} />
                    {member.username}
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
        <div class="flex justify-center">
          <Link
          className="w-full"
          variant={"outline"}
            href="https://discord.com/invite/zwnKrhgT?utm_source=Discord%20Widget&utm_medium=Connect"
            >Beitreten</Link
          >
        </div>
      </div>
    </div>
    <iframe
      src="https://discord.com/widget?id=185552226998157313&theme=dark"
      width="350"
      height="500"
      allowtransparency="true"
      frameborder="0"
      sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
    ></iframe>
  </div>
</Layout>

<style>
  #ts3viewer_1124630 {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 1rem;
    border-radius: 1rem;
  }

  .discord {
    border-radius: 1rem;
    background-color: hsl(225 calc(1 * 6.3%) 12.5% /1);
  }

  .discordHeader {
    background-color: hsl(235 calc(1 * 85.6%) 64.7% /1);
  }

  .joinButton {
    align-content: center;
  }
</style>
