---
import Layout from '@/layouts/Layout.astro'
import Card from '@/components/Card.astro'
import ServerElement from '@/components/Server.astro'
import TSViewer from '@/components/ServerViewerTS.astro'

import ServerDiscord from '@/components/ViewerDiscord.svelte'
import ServerTS from '@/components/ViewerTeamSpeak.svelte'

const guildId = "185552226998157313";
const invite = "https://discord.com/invite/KKPurzUu";
---

<Layout title="Server - henahax.de">
	<Card transitionName="server">
		<i slot="icon" class="fa-solid fa-server"></i>
		<div slot="title">Server</div>
		<div slot="content" class="grid grid-cols-1 gap-4 sm:grid-cols-2">
			<TSViewer />
			
			<ServerElement connectLink=''>
				<i slot="icon" class="fa-brands fa-teamspeak"></i>
				<div slot="title">TeamSpeak</div>
				<div slot="content" class="grid grid-cols-1 gap-4 sm:grid-cols-2">
				<ServerTS client:visible/>
			</div>
			</ServerElement>

			<ServerElement connectLink=''>
				  <i slot="icon" class="fa-brands fa-discord"></i>
  				<div slot="title">Discord</div>
  				<div slot="content" class="flex flex-col gap-4">
    				<ServerDiscord guildId={guildId} invite={invite} client:visible />
  				</div>
			</ServerElement>
		</div>
	</Card>
</Layout>