---
import Layout from "../layouts/Layout.astro";
import Card from "@/lib/Card.astro";
---

<Layout title="Server - henahax.de">
  <Card transitionName="server">
    <i slot="icon" class="fa-solid fa-server" transition:name="iconServer"></i>
    <div slot="title" transition:name="titleServer">Server</div>
    <div slot="content"></div>
  </Card>
</Layout>