---
import Layout from "../layouts/Layout.astro";
import Card from "@/lib/Card.astro";
---

<Layout title="Arbeit - henahax.de">
  <Card transitionName="work">




    <i slot="icon" class="fa-solid fa-briefcase"></i>
    <span slot="title">Arbeit</span>
    <a
      slot="link"
      target="_blank"
      rel="noopener noreferrer"
      href="https://de.linkedin.com/in/tobias-halupczok"
    >
    <i class="fa-brands fa-linkedin"></i>
    </a>



    <div slot="content" class="grid gap-2 grid-cols-[auto_1fr] items-center">
      <i class="fa-solid fa-location-dot"></i>München
      <i class="fa-solid fa-user-tie"></i>Dev
      <div class="col-span-2 flex gap-1 flex-wrap">
        <div class="tag">C#</div>
        <div class="tag">.NET</div>
        <div class="tag">SQL</div>
        <div class="tag">JavaScript</div>
        <div class="tag">HTML</div>
        <div class="tag">CSS</div>
      </div>
    </div>
  </Card>
</Layout>

