---
const { class: className } = Astro.props;
---

<div class:list={["border border-white rounded-xl backdrop-blur-lg", className]}>

    <h3 slot="title" class="flex items-center gap-2 p-4 justify-between text-muted-foreground">
  <slot name="title" />
</h3>

  <div class="flex flex-col gap-4">
    <slot name="content" />
  </div>

</div>
