---
interface Props {
  name: string;
  link: string;
  icons: string;
  color?: string;
  background: string;
}

const { name, link, icons, color, background } = Astro.props;
---

<li class="rounded-full flex h-12">
  <a class="flex w-full text-lg justify-center items-center" href={link}>{name}</a>
</li>

<style define:vars={{ color, background }}>
	li {
	  color: var(--color);
	  background-color: var(--background);
	}
	li:hover{
		box-shadow: 0 0 2rem rgba(255,255,255,0.5);
	}
  </style>