---
import ServerElement from "@/components/ServerElement.astro";
---

<ServerElement
  color="#e0e0e0"
  background="#1c2537"
  headerBackground="#2580c3"
  name={"todo"}
  members={"0 / 32"}
  link="https://tmspk.gg/henahax.de/"
>
  <Fragment slot="title">
    <i class="fa-brands fa-teamspeak"></i>TeamSpeak
  </Fragment>
  <div slot="body" class="flex flex-col gap-2 text-neutral-400"></div>
</ServerElement>
