---
import { Link } from "@/components/Link.tsx";

interface Props {
  name: string;
  link: string;
  color: string;
  background: string;
  headerBackground: string;
  members?: number;
}

const { name, link, color, background, headerBackground, members } =
  Astro.props;
---

<div class="server flex flex-col rounded-xl">
  <div
    class="header px-4 py-5 rounded-t-lg flex justify-between items-center gap-2"
  >
    <h2 class="inline-flex items-center gap-2 text-2xl font-black">
      <slot name="title" />
    </h2>
    <div class="text-sm text-right">
      {members} online
    </div>
  </div>
  <div class="p-4 flex flex-col h-full">
    <div class="flex flex-col gap-4 grow">
      <slot name="body" />
      <Link
        className="w-full rounded-lg border border-neutral-700"
        variant={"ghost"}
        href={link}
      >
        Beitreten
      </Link>
    </div>
  </div>
</div>

<style define:vars={{ color, background, headerBackground }}>
  .server {
    color: var(--color);
    background-color: var(--background);
  }

  .header {
    background-color: var(--headerBackground);
  }
</style>
