---
//import { ViewTransitions } from 'astro:transitions'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/henahax.svg" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
			integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!--<ViewTransitions />-->
	</head>

	<body class="flex min-h-dvh flex-col">
		<div class="w-full bg-base-200">
			<div class="navbar mx-auto max-w-screen-xl">
				<div class="flex-1">
					<a class="btn btn-ghost text-2xl">Henahax</a>
				</div>
				<div class="flex-none">
					<ul class="menu menu-horizontal px-1">
						<li class="hidden sm:block"><a href="/">Home</a></li>
						<li class="hidden sm:block"><a href="/server">Server</a></li>
						<li class="hidden sm:block"><a href="/links">Links</a></li>
						<li class="sm:hidden">
							<details>
								<summary> <i class="fa-solid fa-bars"></i> Menü</summary>
								<ul class="rounded-t-none bg-base-100 p-2">
									<li><a href="/">Home</a></li>
									<li><a href="/server">Server</a></li>
									<li><a href="/links">Links</a></li>
								</ul>
							</details>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<main class="mx-auto w-full max-w-screen-xl flex-grow p-8">
			<slot />
		</main>

		<footer class="footer flex-grow-0 justify-around bg-base-100 p-4 text-neutral-content">
			© henahax.de 2024
		</footer>
		<style>
			html {
				font-family: Consolas, monaco, monospace;
			}
		</style>
	</body>
</html>
